.colorContainer {

	.label {
		font-family: RobotoCondensed-Bold;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 8px;
	}

	.btnContainer {
		padding-left: 2px;
		display: grid;
		grid-template-columns: repeat(auto-fit, 32px);
		gap: 12px;

		.colorBtn {
			height: 32px;
		}
	}

}

.active {
	outline: 1px solid #5ECE7B;
	outline-offset: 1px;
}

.modal {
	.label {
		font-family: 'Raleway-Regular';
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 8px;
	}

	.btnContainer {
		padding-left: 2px;
		display: grid;
		grid-template-columns: repeat(auto-fit, 16px);
		gap: 8px;

		.colorBtn {
			height: 16px;
		}
	}

}